@import "~common/styl/variable"

  .loading
    width: 100%
    text-align: center
    &.oneLine
      display: flex
      justify-content: center
    .desc
      line-height: 20px
      font-size: 14px
      color: #333